.ManuscriptListHeader {
    display: grid;
    grid-template-columns: .5fr .5fr 1fr;
    margin-left: 10%;
    margin-right:10%;
    margin-top : 1%;
    background-color: #FFC15E;
    box-shadow: 7px 3px 3px #e0d4cc;
}


.headers {
    padding-left: 1%;
    margin:0;
}




.ManuscriptListItem {
    display: grid;
    grid-template-columns: .5fr .5fr 1fr;
    margin-left: 10%;
    margin-right:10%;
    background-color:#FFFFFF;
    margin-bottom: 5px;
    box-shadow: 7px 3px 3px #e0d4cc;
}

.ManuscriptListItem:hover {
    cursor: pointer;
    box-shadow: 9px 4px 4px #d3c8c1;
}


.title {
    display:flex;
    flex-flow: column wrap;
    margin: 0px;
    padding-left:1%;
    grid-column: 1/2;
    align-self: center;
    justify-self: left;

}


.author {
    margin: 0px;
    grid-column: 2/3;
    justify-self: left;
    align-self: center;
    display:flex;
    flex-flow: column wrap;

}


.preview {
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    margin-right: 5px;
    padding-right:2%;
    grid-column: 3/4;
    grid-row: 1/3;
    align-self: center;
    
}




.writersDesk-button-wrapper {
    margin-left: 10%;
}

